.bundle
.DS_Store
.idea
.project
.rspec
.sass-cache
.vagrantlog/*
.yardoc
*.orig
*.rbc
*.sassc
*.sqlite3
*.swp
coverage/
db/schema.rb
db/fixtures/02-users.rb
db/fixtures/03-agents.rb
nbproject
vendor/cache/*
vendor/bundle
tmp
log
config/database.yml
config/initializers/omniauth.rb
public/store
public/assets
public/apposs_file
capybara-*.html
rerun.txt
tags
