<div id="main_list">
  <div class="form" style="display:none"></div>
  <h4 class="lead well">
    <%=resource_class.model_name.human %>列表
  </h4>
  <ul class="nav nav-list">
  <% collection.each do |r| %>
    <li><div>
      <%=r.email %>
      <%= link_to "编辑", edit_resource_url(r) %>
      <%= link_to "删除", resource_url(r), :confirm => '确定要删除?', :method => :delete %>
      <div style="clear:both" />
      </div></li>
  <% end %>
  </ul>
</div>
